# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# GLPI Specific Files
# =========================

# Temporary cache and log files
/glpi/files/_log/
/glpi/files/_tmp/
/glpi/files/_sessions/

# GLPI update backups
/glpi/files/_backups/

# Plugin generated data
/glpi/plugins/*/files/

# Exclude node_modules or any external dependencies if present in GLPI directories
node_modules/

# Exclude build files or dist folders if any
/dist/
/build/

# Cache or compiled files
/cache/
/lib/filestore/

# GLPI-specific folders or files that shouldn't be versioned
/glpi/install/
